// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.profiler-result {
  display: none;
}

.navbar {
  border-bottom: 2px solid #b3c9df;
  padding: 16px;
}

.navbar-brand {
  font-weight: 900;
}

.navbar a {
  font-weight: 200;
  border-bottom: 2px solid #b3c9df;

  &:hover {
    border-color: #5689bb;
    font-weight: 400;
  }
}

.container {
  max-width: 900px;
  padding: 16px;
}
